button {
    display: inline-block;
    padding: 25px;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc {
    text-align: center;
    padding: 20px;
    background-color: #cccccc;
    border-radius: 10px;
}

caption {
    width: 100%;
}

input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    text-align: right;
    font-family: 'Noto Sans JP', sans-serif;
}

table {
    margin: auto;
}

.active {
    background-color: red;
}